@import url("$lib/styles/highlight.postcss");

@tailwind base;
@tailwind components;
@tailwind utilities;

/** uses the TailwindCSS Typography plugin for base styles */
@layer base {
	a,
	button,
	input,
	textarea,
	summary {
		@apply outline-offset-4;
	}
}

@layer components {
	.btn {
		@apply flex items-center gap-1 rounded px-3 py-2 text-sm capitalize leading-4 tracking-wide shadow transition active:scale-95 active:shadow-none disabled:cursor-not-allowed disabled:bg-neutral-500 disabled:text-neutral-50 disabled:shadow disabled:hover:bg-neutral-500;
	}
	.btn-p {
		@apply bg-neutral-800 text-neutral-50 hover:bg-neutral-900;
	}
	.btn-g {
		@apply bg-neutral-500 bg-opacity-0 shadow-none hover:bg-opacity-10;
	}
	.btn-d {
		@apply bg-rose-800 text-neutral-50 hover:bg-rose-900;
	}
	.input {
		@apply cursor-pointer rounded bg-transparent p-2 text-sm leading-4 disabled:cursor-not-allowed disabled:opacity-50;
	}
	.label {
		@apply text-sm font-semibold;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
