@import url("$lib/styles/highlight.postcss");
@import url("layercomp") layer(components);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 98%; /* zinc 50 */
		--foreground: 240 5.3% 26.1%; /* 700 */
		--card: 0 0% 100%; /* white */
		--primary: 240 5.9% 10%; /* 900 */
		--primary-foreground: 240 4.8% 95.9%; /* 100 */
		--secondary: 240 5.9% 90%; /* 200 */
		--secondary-foreground: 240 5.9% 10%; /* 900 */
		--muted: 240 4.8% 95.9%; /* 100 */
		--muted-foreground: 240 5.2% 33.9%; /* 600 */
		--destructive: 345.3 82.7% 40.8%; /* rose 700 */
		--destructive-foreground: 240 4.8% 95.9%; /* 100 */
		--border: 240 4.9% 83.9%; /* 300 */
		--radius: 0.3rem;
	}
	.dark {
		--background: 240 10% 3.9%; /* zinc 950 */
		--foreground: 240 4.9% 83.9%; /* 300 */
		--card: 0 0% 0%; /* black */
		--primary: 240 4.8% 95.9%; /* 100 */
		--primary-foreground: 240 5.9% 10%; /* 900 */
		--secondary: 240 3.7% 15.9%; /* 800 */
		--secondary-foreground: 240 4.8% 95.9%; /* 100 */
		--muted: 240 5.9% 10%; /* 900 */
		--muted-foreground: 240 5% 64.9%; /* 400 */
		--destructive: 343.4 79.7% 34.7%; /* rose 800 */
		--destructive-foreground: 240 4.8% 95.9%; /* 100 */
		--border: 240 5.3% 26.1%; /* 700 */
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
