@layer theme, base, components, utilities;

@import "uico";
@import "katex/dist/katex.min.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@iconify/tailwind4" {
	scale: 1.25;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-heading-foreground: var(--heading-foreground);
	--color-base-50: var(--base-50);
	--color-base-100: var(--base-100);
	--color-base-200: var(--base-200);
	--color-base-300: var(--base-300);
	--color-base-400: var(--base-400);
	--color-base-500: var(--base-500);
	--color-base-600: var(--base-600);
	--color-base-700: var(--base-700);
	--color-base-800: var(--base-800);
	--color-base-900: var(--base-900);
	--color-base-950: var(--base-950);
	--color-muted: var(--muted-background);
	--color-muted-foreground: var(--muted-foreground);
	--color-primary: var(--primary-background);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary-background);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent-background);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive-background);
	--color-destructive-foreground: var(--destructive-foreground);

	--font-sans: var(--font-family-sans);
	--font-mono: var(--font-family-mono);

	--text-xs: var(--font-size-1);
	--text-xs--line-height: var(--line-height-1);
	--text-xs--letter-spacing: var(--letter-spacing-1);
	--text-sm: var(--font-size-2);
	--text-sm--line-height: var(--line-height-2);
	--text-base: var(--font-size-3);
	--text-base--line-height: ar(--line-height-3);
	--text-lg: var(--font-size-4);
	--text-lg--line-height: var(--line-height-4);
	--text-xl: var(--font-size-5);
	--text-xl--line-height: var(--line-height-5);
	--text-2xl: var(--font-size-6);
	--text-2xl--line-height: var(--line-height-6);
	--text-3xl: var(--font-size-7);
	--text-3xl--line-height: var(--line-height-6);
	--text-4xl: var(--font-size-8);
	--text-4xl--line-height: var(--line-height-9);
	--text-5xl: var(--font-size-9);
	--text-5xl--line-height: var(--line-height-10);
	--text-6xl: var(--font-size-10);

	--radius-xs: calc(var(--border-radius) / 3);
	--radius-sm: calc(var(--border-radius) / 1.5);
	--radius-md: var(--border-radius);
	--radius-lg: calc(var(--border-radius) * 1.33);
	--radius-xl: calc(var(--border-radius) * 2);
	--radius-2xl: calc(var(--border-radius) * 2.66);
	--radius-3xl: calc(var(--border-radius) * 4);
	--radius-4xl: calc(var(--border-radius) * 5.33);
}

@layer base {
	:root {
		--light-end: 0.01;
		--accent: light-dark(var(--base-800), var(--base-500));
		--border-radius: 4px;

		--font-family-sans: "Geist Variable", sans-serif;
		--font-family-mono: "Geist Mono Variable", monospace;

		--shiki-foreground: var(--base-100);
		--shiki-background: var(--base-900);
		--shiki-token-constant: var(--base-50);
		--shiki-token-string: var(--base-300);
		--shiki-token-comment: var(--base-400);
		--shiki-token-keyword: var(--base-400);
		--shiki-token-parameter: var(--base-300);
		--shiki-token-function: var(--base-300);
		--shiki-token-string-expression: var(--base-200);
		--shiki-token-punctuation: var(--base-500);
		--shiki-token-link: var(--base-300);

		scrollbar-gutter: stable;
	}

	* {
		scroll-padding-block-start: calc(var(--spacing) * 4);
		font-variant-numeric: tabular-nums;
	}

	@view-transition {
		navigation: auto;
	}

	::view-transition-group(*) {
		animation-duration: 400ms;
		animation-timing-function: ease-in-out;
	}

	@media (prefers-reduced-motion) {
		::view-transition-group(*),
		::view-transition-old(*),
		::view-transition-new(*) {
			animation: none !important;
		}
	}

	a {
		@apply font-normal;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium;
	}

	p,
	li,
	blockquote,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: pretty;
		word-break: break-word;
	}

	tr:nth-child(n + 100) td {
		content-visibility: auto;
	}
}

@layer components {
	.button,
	button {
		@apply shadow-xs transition-transform active:scale-97 active:shadow-none dark:shadow-black/75;
	}

	.ghost {
		@apply shadow-none;
	}

	details {
		@media (prefers-reduced-motion: no-preference) {
			interpolate-size: allow-keywords;
		}

		/* for safari */
		summary::-webkit-details-marker {
			display: none;
		}

		&::details-content {
			transition:
				content-visibility 700ms allow-discrete,
				block-size 700ms;
			block-size: 0;
			overflow-y: clip;
		}
		&[open]::details-content {
			block-size: auto;
		}
	}

	pre {
		margin-block: 0;
	}

	.katex-display {
		margin-block: calc(var(--spacing) * 8);
	}
}

@utility my-trim {
	/* remove the margin from the top/bottom of the prose */
	> *:first-child {
		margin-block-start: 0;
	}

	> *:last-child {
		margin-block-end: 0;
	}
}
